:root{
	/*varibles in this are global*/
	--red: #ff6f69;
	--beige:#ffeead ;
	--yellow: #ffcc5c;
}
html, body {
    background:var(--beige) ;
    color: var(--red);
}
h1, p{
	color: var(--red);
}
#navbar{
	--nav-red:#ff6f19 ;
}

#navbar a {
    color: var(--nav-red);
}

.item {
	--yellow-item:ffe55b ;
    background: var(--yellow);
}

button {
    background: var(--red);
    color: var(--yellow);
}

.featured {
     --yellow-item: #ffe55b;
    --red: #ff5564;   
}