/*Positions.css this is for testing positioning in a 
grid layout*/

div{
	
	
	
	color: black;
	border:black dotted 1px;
	text-align: center;
}
.container{	
				

				border: none;
				
				height: 100%; 
				display: grid;
				grid-gap: 3px;
				/*rows first then columns*/
			
				grid-template-columns: repeat(12,1fr);
				grid-template-rows:40px auto 40px;
				/*adding a grid template area property*/
				

				margin-left: 1em;
				margin-right: 1em;
			}


.header{
	/*grid-column-start: 1;
	grid-column-end: 3;*/

	/*the above uses grid lines, not boxes necesarily*/
/*
	grid-column: 1/3;
	this is short hand for the above*/

	grid-column: 1/-1;

}

.menu{
		height: 100%; 
	 }

.content{
	height: 100%; 
	grid-column: 2/-1}

.footer{
	grid-column: 1/-1;
	/*-1 means to span the last column line*/
}